{% extends 'base.html.twig' %}

{% block title %}
    Add Exercise!
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-dark">Add Exercise</h1>
            </div>
        </div>

        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <p class="text-dark">{{ message }}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'form'}}) }}
                        <div class="mb-3">
                            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.muscleGroup, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <button type="submit" class="custom-button2 btn btn-primary">Add</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
