{% extends 'base.html.twig' %}

{% block title %}Exercises!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">Exercises</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Muscle group</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for exercise in exercises %}
                    <tr>
                        <td>{{ exercise.id }}</td>
                        <td>{{ exercise.name }}</td>
                        <td>{{ exercise.getMuscleGroup().getType() }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Exercise Actions">
                                <a href="{{ path('edit_exercise', { 'id': exercise.id }) }}" class="btn btn-primary">Edit</a>
                                <a href="{{ path('delete_exercise', { 'id': exercise.id }) }}" class="btn btn-danger">Delete</a>
                                <form action="{{ path('show_exercises') }}" method="get">
                                    <input type="hidden" name="muscleGroup" value="{{ exercise.getMuscleGroup().getType() }}">
                                    <button type="submit" class="btn btn-success">Show Exercises</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
