<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    {% block stylesheets %}
        {# Bootstrap CSS from CDN #}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        {# jQuery, Popper.js, and Bootstrap JS from CDN #}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <style>
        body {
            background-color: #e0f0ff;
        }

        .navbar {
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .navbar-nav {
            /*margin-left: auto;*/
            display: flex;
            align-items: center;
        }

        .navbar-nav .nav-item {
            margin-right: 20px;
        }

        .navbar-nav .nav-link {
            color: #000;
        }

        .navbar-nav .nav-link:hover {
            color: rgba(0, 0, 0, 0.75); /* Hover pentru linkurile din navbar */
        }

        .navbar-light .form-control {
            background-color: #ffffff; /* Fundal alb pentru bara de căutare */
            color: #000; /* Text negru pentru bara de căutare */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <!-- Am eliminat tag-ul <a class="navbar-brand"> pentru a elimina "My App" -->
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: center">
            <ul class="navbar-nav"> <!-- Utilizare flexbox pentru a pune linkurile pe orizontal -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_user') }}">Home</a>
                </li>
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register_user') }}">Register</a>
                </li>
                {%endif%}
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_exercise') }}">Exercise Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('get_all_exercises') }}">All Exercises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_workout') }}">Add Workout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_workout') }}">Workouts</a>
                </li>
                {% if is_granted('ROLE_TRAINER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('users_show') }}">Users</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block body %}{% endblock %}
</div>

<!-- Scripturile JavaScript pentru Bootstrap nu sunt necesare pentru acest caz -->
</body>
</html>
