{% extends 'base.html.twig' %}

{% block title %}Workouts{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        .button-group {
            display: flex;
            gap: 10px;
        }

        .button-group a {
            display: inline-block;
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Workouts</h1>

        <table>
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>User</th>
                <th>Created at</th>
                <th>Actions</th> {# Adăugăm coloana pentru butonul de acțiuni #}
            </tr>
            </thead>
            <tbody>
            {% for workout in workouts %}
                <tr>
                    <td>{{ workout.id }}</td>
                    <td>{{ workout.name }}</td>
                    <td>{{ workout.pers.email }}</td>
                    <td>{{ workout.createdAt|date("F jS \\a\\t g:ia") }}</td>
                    <td>
                        <a href="{{ path('all_exercise_log', { 'workoutId': workout.id }) }}">View Exercises</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
